.wrapper {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.title {
  color: #272933;
  font-family: 'Futura bold';
  font-size: 5rem;
  line-height: 100%;
  padding: .5em;
}

.blue {
  color: blue;
}
