.iconCard {
  background-color: none;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 150px;
  font-family: 'Futura book';
  color: white;
  display: block;
  text-align: center;
  padding: 150px 1em 0;
}

h3 {
  font-family: 'Futura bold';
}


/** Mapping images */
.team {
  background-image: url('./team.svg');
}

.support {
  background-image: url('./support.svg');
}

.virtual {
  background-image: url('./virtual.svg');
}
