@font-face {
  font-family: 'Futura';
  src: url('../typos/FuturaStd-Medium.otf');
}
@font-face {
  font-family: 'Futura book';
  src: url('../typos/FuturaStd-Book.otf');
}
@font-face {
  font-family: 'Futura bold';
  src: url('../typos/FuturaStd-Bold.otf');
}
@font-face {
  font-family: 'Myriad';
  src: url('../typos/MyriadPro-Regular.otf');
}
@font-face {
  font-family: 'Myriad Bold';
  src: url('../typos/MyriadPro-Bold.otf');
}

body {
  font-family: "Poppins", Futura, Helvetica, Arial, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol", sans;
}
