.wrapper {
  padding: 6em 2em;
  color: #272933;
}

.title {
  font-size: 120%;
  line-height: 160%;
  padding-bottom: 1em;
  padding-left: 2em;
}

.title:after {
  background-color: #2D62F7;
  content: ' ';
  display: block;
  height: 2px;
  margin-top: 1em;
  width: 30%;
}

.summary {
  font-size: 100%;
  line-height: 160%;
  padding-left: 2em;
}

.description {
  font-size: 90%;
  padding-right: 3em;
}
