header .jumbotron.jumbotron-fluid{
  background-color: transparent;
}
.jumbotron h1 {
  color: white;
  font-family: 'Futura bold';
  font-size: 5rem;
  line-height: 6rem;
  margin: 0 8% 38px 8%;
}

.jumbotron h1:after {
  content: ' ';
  width: 15%;
  height: 2px;
  background-color: white;
  display: block;
  margin: 72px auto;
}

.jumbotron h2 {
  color: white;
  font-family: 'Futura';
  margin: 0 8% 68px 8%;
}
